@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root {
  --color-text: #1C1C1C;
  --color-background: #FDFAF6;
}

[data-theme="dark"] {
  --color-text: #FDFAF6;
  --color-background: #1C1C1C;
}

body {
  color: var(--color-text);
  background: var(--color-background);
  font-family: var(--font-geist-sans);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer components {

  .article-content h1 {
    @apply text-2xl my-2
  }

  .article-content h2 {
    @apply text-2xl my-2
  }

  .article-content h3 {
    @apply text-xl my-2
  }

  .article-content blockquote {
    @apply border border-l-3 border-l-sky-500 border-zinc-200 p-4 pb-0 bg-zinc-100
  }

  .article-content hr {
    @apply border-zinc-200 my-2
  }

  .article-content ul {
    @apply list-disc list-inside leading-relaxed
  }

  .article-content ol {
    @apply list-decimal list-inside leading-relaxed
  }

  .article-content pre {
    @apply bg-zinc-100 border border-zinc-200 text-wrap p-4 text-sm leading-relaxed
  }

  .article-content p {
    @apply leading-relaxed pb-4
  }

  .article-content strong {
    @apply font-semibold
  }

  .article-content a {
    @apply text-green-500 underline underline-offset-2
  }

}