@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root {
  --color-text: #1C1C1C;
  --color-background: #fffbf5;
}

[data-theme="dark"] {
  --color-text: #FDFAF6;
  --color-background: #202020;
}

body {
  color: var(--color-text);
  background: var(--color-background);
  font-family: var(--font-geist-sans);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}

@theme inline {
  --color-background: var(--color-background);
  --color-foreground: var(--color-text);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer components {

  .btn-primary {
    @apply w-full bg-blue-600 hover:bg-blue-600 text-white px-8 py-4 rounded-full border-2 border-transparent cursor-pointer transition-colors
  }

  .btn-secondary {
    @apply w-full bg-neutral-50 px-8 py-4 border-2 border-neutral-300 rounded-full cursor-pointer dark:bg-transparent hover:bg-neutral-100 dark:hover:bg-neutral-800 transition-colors
  }

  .article-content h2 {
    @apply text-2xl sm:text-3xl mt-6 mb-2
  }

  .article-content h3 {
    @apply text-xl sm:text-2xl mb-2 text-neutral-800 dark:text-neutral-200
  }

  .article-content h4 {
    @apply text-lg sm:text-xl mb-2 text-neutral-700 dark:text-neutral-300
  }

  .article-content p {
    @apply leading-relaxed mb-4 text-neutral-800 dark:text-neutral-200
  }

  .article-content blockquote {
    @apply border border-l-3 border-l-blue-500! border-neutral-300 dark:border-neutral-700 p-4 pb-0 mb-4 bg-neutral-100 dark:bg-neutral-800
  }

  .article-content ul {
    @apply list-disc list-outside ml-4 leading-relaxed mb-4
  }

  .article-content ol {
    @apply list-decimal list-outside ml-4 leading-relaxed mb-4
  }

  .article-content li ul,
  .article-content li ol {
    @apply mb-0
  }

  .article-content pre {
    @apply bg-neutral-100 dark:bg-neutral-800 border border-neutral-300 dark:border-neutral-700 text-wrap p-4 text-sm leading-relaxed
  }

  .article-content :not(pre) code {
    @apply bg-neutral-200 dark:bg-neutral-700 p-0.5
  }

  .article-content strong {
    @apply font-semibold
  }

  .article-content a {
    @apply text-blue-600 dark:text-blue-400 hover:text-blue-800 dark:hover:text-blue-600 transition-colors underline underline-offset-2
  }

  .article-content img {
    @apply w-full border border-neutral-300 dark:border-neutral-700 rounded-lg
  }

  .article-content hr {
    @apply mt-8 border-zinc-200 dark:border-zinc-800
  }

}